doctype
html
  head
    // meta(http-equiv="refresh" content="30")
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
    link(rel="stylesheet", href="http://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css")
    link(rel="stylesheet", href="/components/scan-interface/static/remodal/remodal.css")
    link(rel="stylesheet", href="/components/scan-interface/static/remodal/remodal-default-theme.css")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js")
    script(src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js")
    // script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js")
    script(src="/components/scan-interface/static/remodal/remodal.min.js")

    style.
      .divSquare{
          width:50%; float: left
      }
    script.
      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

            // definitely need to clean up the logic here. Probably would be hard for
            // someone else to follow
            var clamav_pending = #{nsrl_false-tot_files+clamav_null};
            if (clamav_pending < 0)
                clamav_pending = 0;

            var start_nsrl = #{nsrl_null}, start_vtotal = #{vtotal_pending}, start_clamav = clamav_pending, start_wfire = #{wfire_true + wfire_false};
            var start_total = #{tot_files};
            if (start_total == 0)
                start_total = 1;

            if (#{tot_files-nsrl_null} == 0) 
                start_nsrl = start_total;
            if (#{vtotal_ne_null} == 0)
                start_vtotal = start_total;
            if (#{tot_files-clamav_null} == 0)
                start_clamav = start_total;
            if (start_wfire == 0)
                start_wfire = start_total;
            var clam_not_scanned;
            if (#{nsrl_true} == 0)
                clam_not_scanned = #{tot_files};
            else
                clam_not_scanned = #{nsrl_true};

            var data = google.visualization.arrayToDataTable([
              ['Scanner', 'Scanned', 'Pending', 'Not Being Scanned'],
              ['NSRL', #{tot_files-nsrl_null}, #{nsrl_null}, 0],
              ['VirusTotal', #{vtotal_ne_null}, #{vtotal_pending}, #{tot_files-vtotal_ne_null-vtotal_pending}],
              ['ClamAV', #{tot_files-clamav_null}, clamav_pending, clam_not_scanned],
              ['Wildfire', #{tot_files-wfire_null}, 0, #{wfire_null}]
            ]);

            var data2 = google.visualization.arrayToDataTable([
              ['Status', 'Count'],
              ['Known', #{nsrl_true}],
              ['Unknown', #{nsrl_false}],
              ['Pending', start_nsrl]
            ]);

            var data3 = google.visualization.arrayToDataTable([
              ['Status', 'Count'],
              ['VTotal Known', #{vtotal_0}],
              ['Not EXE/DLL', #{vtotal_neutral}],
              ['Pending', start_vtotal],
              ['> 5% Detection', #{vtotal_gt5}]
            ]);

            if (#{clamav_false} == 0 && start_clamav == 0 && #{clamav_true} == 0)
                start_clamav = #{tot_files};
            var data4 = google.visualization.arrayToDataTable([
              ['Status', 'Count'],
              ['Not Flagged', #{clamav_false}],
              ['Pending', start_clamav],
              ['Flagged', #{clamav_true}]
            ]);

            var data5;
            var sliceoption;
            if ((#{wfire_null} == #{tot_files} || (#{wfire_false} == 0 && #{wfire_true} == 0)) && start_wfire == 0)
                start_wfire = start_total;
            if (#{wfire_null} == #{tot_files} || (#{wfire_false} == 0 && #{wfire_true} == 0)) {
                data5 = google.visualization.arrayToDataTable([
                  ['Status', 'Count'],
                  ['No Scans Completed', start_wfire]
                ]);
                sliceoption = {
                    0: { color: '#BDBDBD' }
                };
            }
            else {
                data5 = google.visualization.arrayToDataTable([
                  ['Status', 'Count'],
                  ['Not Flagged', #{wfire_false}],
                  ['Flagged', #{wfire_true}]
                ]);
                sliceoption = {
                    0: { color: '#009900' },
                    1: { color: 'red', offset: offset4 }
                };
            }

            var options = {
              title: 'Individual Scan Progress',
              chartArea: {width: '70%'},
              isStacked: true,
              hAxis: {
                title: 'File Count (#{tot_files} Total)',
                viewWindow: { min: 0, max: start_total },
                minValue: 0
              },
              vAxis: {
                title: 'Scanner'
              },
              colors: ['blue','#cc00cc', 'grey'],
              backgroundColor: { fill:'transparent' }
            };

            var options2 = {
              slices: {
                0: { color: '#009900'},
                1: { color: 'orange' },
                2: { color: '#cc00cc' }
              },
              title: 'NSRL',
              sliceVisibilityThreshold: 0,
              is3D: true,
              pieSliceText: 'value',
              backgroundColor: { fill:'transparent' },
              'legend': {'position': 'bottom'}
            };

            var offset3;
            if (#{vtotal_gt5} == 0)
                offset3 = 0;
            else
                offset3 = 0.2;

            var options3 = {
              slices: {
                0: { color: '#00cc00' },
                1: { color: '#af8788'},
                2: { color: '#cc00cc' },
                3: { color: 'red', offset: offset3 }
              },
              title: 'VirusTotal (Excludes NSRL Known)',
              sliceVisibilityThreshold: 0,
              is3D: true,
              pieSliceText: 'value',
              backgroundColor: { fill:'transparent' },
              'legend': {'position': 'bottom'}
            };

            var offset4;
            if (#{clamav_true} == 0)
                offset4 = 0;
            else
                offset4 = 0.2;


            var options4 = {
              slices: {
                0: { color: '#00b300' },
                1: { color: '#cc00cc' },
                2: { color: 'red', offset: offset4 }
              },
              title: 'ClamAV (Excludes NSRL Known)',
              sliceVisibilityThreshold: 0,
              is3D: true,
              pieSliceText: 'value',
              backgroundColor: { fill:'transparent' },
              'legend': {'position': 'bottom'}
            };

            var offset5;
            if (#{wfire_true} == 0)
                offset5 = 0;
            else
                offset5 = 0.2;

            var options5 = {
              slices: sliceoption,
              title: 'WildFire',
              sliceVisibilityThreshold: 0,
              is3D: true,
              pieSliceText: 'value',
              backgroundColor: { fill:'transparent' },
              'legend': {'position': 'bottom'}
            };

            var chart1 = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart1.draw(data, options);
      
            var chart2 = new google.visualization.PieChart(document.getElementById('piechart1'));
            chart2.draw(data2, options2);

            var chart3 = new google.visualization.PieChart(document.getElementById('piechart2'));
            chart3.draw(data3, options3);

            var chart4 = new google.visualization.PieChart(document.getElementById('piechart3'));
            chart4.draw(data4, options4);

            var chart5 = new google.visualization.PieChart(document.getElementById('piechart4'));
            chart5.draw(data5, options5);
          }
      function refresh() {
          location.reload();
      }
  body
    div(class="container")
      h3
        span(style="display:inline-block; width:80%;")
          | #{case_name}&nbsp&nbsp&nbsp
        span(style="font-size: 60%; text-align:right; display:inline-block; width:20%")
          | Disk Progress
      div(class="progress")
        div(class="progress-bar #{progress}" role="progressbar" aria-valuenow="#{percent}" aria-valuemin="0" aria-valuemax="100" style="width:#{percent}%")
          | #{status}
      hr
    div(id="chart_div" style="width:800px; margin:auto;")
    div(class="container" style="width:800px; margin:auto;")
      h3
        span(style="display:inline-block; width:670px;")
          | Results
        span(style="display:inline-block; width:100px;")
          button(type="button" style="padding:2px;" class="btn btn-default" onclick="refresh()")
            | &#8635 Refresh

    div(style="width:800px; margin:auto;")
      div(class="divSquare")
        div(id="piechart1")
      div(class="divSquare")
        div(id="piechart2")
      div(style='clear:both')
      div(style="width:400px; margin:auto;")
        hr
      div(class="divSquare")
        div(id="piechart3")
      div(class="divSquare")
        div(id="piechart4")
        br
        br
        br
      div(style='clear:both')
    div(class="container")
      h3
        span(style="vertical-align:middle;")
          | ClamAV Flagged Files&nbsp&nbsp&nbsp

      hr
      div(style="margin:auto; width: 90%;")
        table(id="clamav_table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%")
          thead
            tr
              th File Name
              th File Type
          tbody
            each result, ind in clam_detections
              tr
                td
                  a(href="#clamav_popper"+ind data-rel="popup")
                    | #{result.filename}
                  div(data-role="popup" id="clamav_popper"+ind class="ui-content" data-position-to="window" data-overlay-theme="a" data-theme="b" data-transition="fade")
                    h3(style="text-align: center;")
                      | #{result.filename}
                    hr(style="width:75%;")
                    br
                    p
                      b File Type: &nbsp
                      | #{result.filetype}
                    p
                      b Full Path: &nbsp
                      | #{result.fullpath}
                    p
                      b mtime: &nbsp
                      | #{result.mtime}
                    p
                      b ctime: &nbsp
                      | #{result.ctime}
                    p
                      b atime: &nbsp
                      | #{result.atime}
                    p
                      b Hash: &nbsp
                      | #{result.hash}
                    br
                    p
                      b Packer: &nbsp
                      | #{result.packer}
                    p(style="padding-bottom: 10px;")
                      b Yara Flag: &nbsp
                      | #{result.yaramalwareflag}
                td #{result.filetype}
      br
      br
    div(class="container")
      h3
        span(style="vertical-align:middle;")
          | VirusTotal > 5% Detection&nbsp&nbsp&nbsp
        hr
      div(style="margin:auto; width: 90%;")
        table(id="vtotal_table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%")
          thead
            tr
              th File Name
              th File Type
          tbody
           each result, ind in vtotal_detections
              tr
                td
                  a(href="#vtotal_popper"+ind data-rel="popup")
                    | #{result.filename}
                  div(data-role="popup" id="vtotal_popper"+ind class="ui-content" data-position-to="window" data-overlay-theme="a" data-theme="b" data-transition="fade")
                    h3(style="text-align: center;")
                      | #{result.filename}
                    hr(style="width:75%;")
                    br
                    p
                      b File Type: &nbsp
                      | #{result.filetype}
                    p
                      b Full Path: &nbsp
                      | #{result.fullpath}
                    p
                      b mtime: &nbsp
                      | #{result.mtime}
                    p
                      b ctime: &nbsp
                      | #{result.ctime}
                    p
                      b atime: &nbsp
                      | #{result.atime}
                    p
                      b Hash: &nbsp
                      | #{result.hash}
                    br
                    p
                      b VirusTotal %: &nbsp
                      | #{result.virustotalpercentage}
                    p
                      b VirusTotal Date: &nbsp
                      | #{result.virustotaldate}
                    p
                      b Packer: &nbsp
                      | #{result.packer}
                    p(style="padding-bottom: 10px;")
                      b Yara Flag: &nbsp
                      | #{result.yaramalwareflag}
                td #{result.filetype}
      br
      br

      div
        h3
          span(style="display:inline-block; width:50%;")
            | Detected File Timeline
          span(style="display:inline-block; width:50%; text-align:right;")
            form
              span(style="display:inline-block; width:110px;")
                input(type="radio" name="acmTime" id="aTime" onclick="setGroup1()" checked)
                label(for="aTime" style="padding:5px; padding-left:40px;") 
                  | aTime
              span(style="display:inline-block; width:110px;")
                input(type="radio" name="acmTime" id="cTime" onclick="setGroup2()")
                label(for="cTime" style="padding:5px; padding-left:40px;")  
                  | cTime
              span(style="display:inline-block; width:110px;")
                input(type="radio" name="acmTime" id="mTime" onclick="setGroup3()")
                label(for="mTime" style="padding:5px; padding-left:40px;") 
                  | mTime
        hr
      div(id="visualization")
      br
      br
      br
      div(data-role="collapsible")
        h1
          | Controls
        div
          h4
            | Re-Scan:
          form(role="form")
            label(style="padding:5px; padding-left:40px;")
              input(type="checkbox" id="fingerprinting")
              | Fingerprinting
            label(style="padding:5px; padding-left:40px;")
              input(type="checkbox" id="nsrl")
              | NSRL
            label(style="padding:5px; padding-left:40px;")
              input(type="checkbox" id="clamav")
              | ClamAV
            label(style="padding:5px; padding-left:40px;")
              input(type="checkbox" id="yarascans")
              | Yara
            label(style="padding:5px; padding-left:40px;")
              input(type="checkbox" id="chromeurlhistory")
              | Chrome History
            label(style="padding:5px; padding-left:40px;")
              input(type="checkbox" id="virustotal")
              | VirusTotal
            label(style="padding:5px; padding-left:40px;")
              input(type="checkbox" id="wildfire")
              | WildFire
            label(style="padding:5px; padding-left:40px;")
              input(type="checkbox" id="registry")
              | Registry
            label(style="padding:5px; padding-left:40px;")
              input(type="checkbox" id="tasks")
              | Tasks
          br
          div(style="text-align:center;")
             button(type="button" style="width:100%; padding:5px;" class="btn btn-success" onclick="redoIt()" data-role="none")
               | Re-Scan

    div(data-remodal-id="modal1")
      h1
        | Confirm Re-Scan
      p
        | The following components will be restarted:
      p(id="compRestart" style="font-weight: bold;")
        | PlaceHolder
      br
      button(data-remodal-action="cancel" class="remodal-cancel" data-role="none")
        | Cancel
      button(data-remodal-action="confirm" class="remodal-confirm" id="redo-confirm" data-role="none")
        | Confirm
    div(data-remodal-id="modal2")
      h1
        | Invalid
      p
        | Please select one or more options
      br
      button(data-remodal-action="confirm" class="remodal-confirm" data-role="none")
        | OK

    script.
      var inst_redo = $('[data-remodal-id=modal1]').remodal();
      var inst_invalid = $('[data-remodal-id=modal2]').remodal();

      $(document).ready(function() {
          var table1 = $('#clamav_table').DataTable();
          var table2 = $('#vtotal_table').DataTable();
      });

      var container = document.getElementById('visualization');

      var group1 = new vis.DataSet([
        {id: 1, content: 'aTime', value: 1}
      ]);

      var group2 = new vis.DataSet([
        {id: 2, content: 'cTime', value: 2}
      ]);

      var group3 = new vis.DataSet([
        {id: 3, content: 'mTime', value: 3}
      ]);

      function setGroup1() {
          timeline.setGroups(group1);
      }

      function setGroup2() {
          timeline.setGroups(group2);
      }

      function setGroup3() {
          timeline.setGroups(group3);
      }

      var items = new vis.DataSet(!{JSON.stringify(acm_times)});

      var options = {
          maxHeight: 500,
          minHeight: 300,
          type: 'point',
          zoomMax: 631139040000,
          zoomMin: 2000};

      var timeline = new vis.Timeline(container, items, options);

      timeline.setGroups(group1);

      var form_sel = []
      function redoIt() {
          form_sel = [];
          var form_options = ["fingerprinting", "nsrl", "clamav", "yarascans", "chromeurlhistory", "virustotal", "wildfire", "registry", "tasks"];
          for (var i = 0; i < form_options.length; ++i) {
              if ($("#"+form_options[i]).is(':checked'))
                  form_sel.push(form_options[i]);
          }

          if (form_sel.length == 0)
              inst_invalid.open();
          else
              if (form_sel.length == form_options.length)
                  $('#compRestart').text("All Scans");
              else
                  $('#compRestart').text(form_sel.toString().replace(/,/g, " | "));
              inst_redo.open();
      }

      $("#redo-confirm").click(function () {
          $.post(
             "/scan-control",
             { case1: "#{case_name}", redo: form_sel },
             function(data) {
                 if (data != "Success")
                     alert("ERROR: " + data)
                 refresh();
             }
          );
      });
