doctype
html
  head
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
  body
    div(class="container")
      h3
        span(style="display:inline-block; width:80%;")
          | #{case_name}&nbsp&nbsp&nbsp
        span(style="font-size: 60%; text-align:right; display:inline-block; width:20%")
          | Memory Progress
      div(class="progress")
        each bar in prog_stack
          div(class="progress-bar #{bar.progress}" role="progressbar" style="width:#{bar.percent}%")
            | #{bar.status}
      hr

      div(style="text-align:center")
        h5
          | OS Type:&nbsp
          b #{os_type}
      br

      h3
        span(style="display:inline-block; float:left; width:670px;")
        | Hidden DLLs:&nbsp
        if (hidden > 0)
          b(style="color:red")
            | #{hidden}
        else
          b(style="color:green")
            | #{hidden}
        span(style="display:inline-block; float:right; width:100px;")
          button(type="button" style="padding:2px;" class="btn btn-default" onclick="refresh()")
            | &#8635 Refresh

      br
      br
      div(data-role="collapsible")
        h1
          | Anomalies
        if anomalies[0]
          each result,ind in anomalies 
            p 
              b #{ind}:&nbsp
              | #{result.anomaly}
        else
          br
          p
            | None

  script.
    function refresh() {
        location.reload();
    }
