doctype
html
  head
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
    link(rel="stylesheet", href="http://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js")
    script(src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js")
    // script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js")
    style.
      .divSquare{
          width:50%; float: left
      }
    script.
      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Scanner', 'Scanned', 'Pending', 'Not Being Scanned'],
              ['NSRL', #{tot_files-nsrl_null}, #{nsrl_null}, 0],
              ['VirusTotal', #{vtotal_ne_null}, #{vtotal_pending}, #{tot_files-vtotal_ne_null-vtotal_pending}],
              ['ClamAV', #{tot_files-clamav_null}, #{clamav_null}, 0],
              ['Wildfire', #{tot_files-wfire_null}, 0, #{wfire_null}]
            ]);

            var data2 = google.visualization.arrayToDataTable([
              ['Status', 'Count'],
              ['Known', #{nsrl_true}],
              ['Unknown', #{nsrl_false}],
              ['Pending', #{nsrl_null}]
            ]);

            var data3 = google.visualization.arrayToDataTable([
              ['Status', 'Count'],
              ['VTotal Known', #{vtotal_0}],
              ['Not EXE/DLL', #{vtotal_neutral}],
              ['Pending', #{vtotal_pending}],
              ['> 5% Detection', #{vtotal_gt5}]
            ]);

            var data4 = google.visualization.arrayToDataTable([
              ['Status', 'Count'],
              ['Not Flagged', #{clamav_false}],
              ['Flagged', #{clamav_true}],
              ['Pending', #{clamav_null}]
            ]);

            var data5;
            var sliceoption;
            if (#{wfire_null} == #{tot_files}) {
                data5 = google.visualization.arrayToDataTable([
                  ['Status', 'Count'],
                  ['No Scans Completed', #{tot_files}]
                ]);
                sliceoption = {
                    0: { color: '#BDBDBD' }
                };
            }
            else {
                data5 = google.visualization.arrayToDataTable([
                  ['Status', 'Count'],
                  ['Not Flagged', #{wfire_false}],
                  ['Flagged', #{wfire_true}]
                ]);
                sliceoption = {
                    0: { color: '#009900' },
                    1: { color: 'red', offset: offset4 }
                };
            }

            var options = {
              title: 'Individual Scan Progress',
              chartArea: {width: '70%'},
              isStacked: true,
              hAxis: {
                title: 'File Count (#{tot_files} Total)',
                viewWindow: { max: #{tot_files} },
                minValue: 0
              },
              vAxis: {
                title: 'Scanner'
              },
              colors: ['blue','#cc00cc', 'grey'],
              backgroundColor: { fill:'transparent' }
            };

            var options2 = {
              slices: {
                0: { color: '#009900'},
                1: { color: 'orange' },
                2: { color: '#cc00cc' }
              },
              title: 'NSRL',
              sliceVisibilityThreshold: 0,
              is3D: true,
              pieSliceText: 'value',
              backgroundColor: { fill:'transparent' },
              'legend': {'position': 'bottom'}
            };

            var offset3;
            if (#{vtotal_gt5} == 0)
                offset3 = 0;
            else
                offset3 = 0.2;

            var options3 = {
              slices: {
                0: { color: '#00cc00' },
                1: { color: '#af8788'},
                2: { color: '#cc00cc' },
                3: { color: 'red', offset: offset3 }
              },
              title: 'VirusTotal (Excludes NSRL Known)',
              sliceVisibilityThreshold: 0,
              is3D: true,
              pieSliceText: 'value',
              backgroundColor: { fill:'transparent' },
              'legend': {'position': 'bottom'}
            };

            var offset4;
            if (#{clamav_true} == 0)
                offset4 = 0;
            else
                offset4 = 0.2;


            var options4 = {
              slices: {
                0: { color: '#00b300' },
                1: { color: 'red', offset: offset4 },
                2: { color: '#cc00cc' }
              },
              title: 'ClamAV',
              sliceVisibilityThreshold: 0,
              is3D: true,
              pieSliceText: 'value',
              backgroundColor: { fill:'transparent' },
              'legend': {'position': 'bottom'}
            };

            var offset5;
            if (#{wfire_true} == 0)
                offset5 = 0;
            else
                offset5 = 0.2;

            var options5 = {
              slices: sliceoption,
              title: 'WildFire',
              sliceVisibilityThreshold: 0,
              is3D: true,
              pieSliceText: 'value',
              backgroundColor: { fill:'transparent' },
              'legend': {'position': 'bottom'}
            };

            var chart1 = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart1.draw(data, options);
      
            var chart2 = new google.visualization.PieChart(document.getElementById('piechart1'));
            chart2.draw(data2, options2);

            var chart3 = new google.visualization.PieChart(document.getElementById('piechart2'));
            chart3.draw(data3, options3);

            var chart4 = new google.visualization.PieChart(document.getElementById('piechart3'));
            chart4.draw(data4, options4);

            var chart5 = new google.visualization.PieChart(document.getElementById('piechart4'));
            chart5.draw(data5, options5);
          }
      function refresh() {
          location.reload();
      }
  body
    div(class="container")
      h3
        span(style="display:inline-block; width:80%;")
          | #{case_name}&nbsp&nbsp&nbsp
        span(style="font-size: 60%; text-align:right; display:inline-block; width:20%")
          | Overall Progress
      div(class="progress")
        div(class="progress-bar #{progress}" role="progressbar" aria-valuenow="#{percent}" aria-valuemin="0" aria-valuemax="100" style="width:#{percent}%")
          | #{status}
      hr
    div(id="chart_div" style="width:800px; margin:auto;")
    div(class="container" style="width:800px; margin:auto;")
      h3
        span(style="display:inline-block; width:670px;")
          | Results
        span(style="display:inline-block; width:100px;")
          button(type="button" style="padding:2px;" class="btn btn-default" onclick="refresh()")
            | &#8635 Refresh
    //  hr
    div(style="width:800px; margin:auto;")
      div(class="divSquare")
        div(id="piechart1")
      div(class="divSquare")
        div(id="piechart2")
      div(style='clear:both')
      div(style="width:400px; margin:auto;")
        hr
      div(class="divSquare")
        div(id="piechart3")
      div(class="divSquare")
        div(id="piechart4")
        br
        br
        br
      div(style='clear:both')
    div(class="container")
      h3
        span(style="vertical-align:middle;")
          | ClamAV Flagged Files&nbsp&nbsp&nbsp
        // ClamAV Flagged Files
      hr
      div(style="margin:auto; width: 90%;")
        table(id="clamav" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%")
          thead
            tr
              th File Name
              th File Type
          tbody
            each result, ind in clam_detections
              tr
                td
                  a(href="#clamav_popper"+ind data-rel="popup")
                    | #{result.filename}
                  div(data-role="popup" id="clamav_popper"+ind class="ui-content" data-position-to="window" data-overlay-theme="a" data-theme="b" data-transition="fade")
                    h3(style="text-align: center;")
                      | #{result.filename}
                    hr(style="width:75%;")
                    br
                    p
                      b File Type: &nbsp
                      | #{result.filetype}
                    p
                      b Full Path: &nbsp
                      | #{result.fullpath}
                    p
                      b mtime: &nbsp
                      | #{result.mtime}
                    p
                      b ctime: &nbsp
                      | #{result.ctime}
                    p
                      b atime: &nbsp
                      | #{result.atime}
                    p
                      b Hash: &nbsp
                      | #{result.hash}
                    br
                    p
                      b Packer: &nbsp
                      | #{result.packer}
                    p(style="padding-bottom: 10px;")
                      b Yara Flag: &nbsp
                      | #{result.yaramalwareflag}
                td #{result.filetype}
      br
      br
    div(class="container")
      h3
        span(style="vertical-align:middle;")
          | VirusTotal > 5% Detection&nbsp&nbsp&nbsp
        hr
      div(style="margin:auto; width: 90%;")
        table(id="vtotal" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%")
          thead
            tr
              th File Name
              th File Type
          tbody
           each result, ind in vtotal_detections
              tr
                td
                  a(href="#vtotal_popper"+ind data-rel="popup")
                    | #{result.filename}
                  div(data-role="popup" id="vtotal_popper"+ind class="ui-content" data-position-to="window" data-overlay-theme="a" data-theme="b" data-transition="fade")
                    h3(style="text-align: center;")
                      | #{result.filename}
                    hr(style="width:75%;")
                    br
                    p
                      b File Type: &nbsp
                      | #{result.filetype}
                    p
                      b Full Path: &nbsp
                      | #{result.fullpath}
                    p
                      b mtime: &nbsp
                      | #{result.mtime}
                    p
                      b ctime: &nbsp
                      | #{result.ctime}
                    p
                      b atime: &nbsp
                      | #{result.atime}
                    p
                      b Hash: &nbsp
                      | #{result.hash}
                    br
                    p
                      b VirusTotal %: &nbsp
                      | #{result.virustotalpercentage}
                    p
                      b VirusTotal Date: &nbsp
                      | #{result.virustotaldate}
                    p
                      b Packer: &nbsp
                      | #{result.packer}
                    p(style="padding-bottom: 10px;")
                      b Yara Flag: &nbsp
                      | #{result.yaramalwareflag}
                td #{result.filetype}
      br
      br
      h3
        span(style="vertical-align:middle;")
          | Chrome History&nbsp&nbsp&nbsp
        hr
      div(id="visualization")

    script.
      $(document).ready(function() {
          var table1 = $('#clamav').DataTable();
          var table2 = $('#vtotal').DataTable();
      });

      var container = document.getElementById('visualization');

      var groups = new vis.DataSet([
        {id: 1, content: 'URLs', value: 1},
        {id: 2, content: 'Downloads', value: 2}
      ]);

      //var items = new vis.DataSet(!{JSON.stringify(history)});

      var items = new vis.DataSet([
        {group: 1, content: '1', title: 'test1', start: '2016-05-01'},
        {group: 1, content: '2', title: 'test1', start: '2016-05-02'},
        {group: 1, content: '3', title: 'test1', start: '2016-05-03'},
        {group: 2, content: '4', title: 'test1', start: '2016-05-04'},
        {group: 2, content: '5', title: 'test1', start: '2016-05-05'},
        {group: 2, content: '6', title: 'test1', start: '2016-05-06'}
      ]);

      var options = {
          //height: 200,
          //stack: false,
          type: 'point',
          zoomMin: 2000,
          zoomMax: 5184000000};

      var timeline = new vis.Timeline(container, items, groups, options);
